.fadein {
    animation: fadein 1000ms;
}


.dipReplace-enter, .dipReplace-appear {
    opacity: 0;
    transform: translateY(30%);
}

.dipReplace-enter-active {
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 700ms linear 700ms, transform 700ms ease-in 700ms;
}

.dipReplace-exit {
    opacity: 1;
    transform: translateY(0%);
}

.dipReplace-exit-active{
    opacity: 0;
    transform: translateY(30%);
    transition: opacity 700ms linear, transform 700ms ease-out;
}



.fade-enter, .fade-appear {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 400ms linear 300ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 250ms linear;
}





@keyframes fadein {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }