@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Raleway Thin'), local('Raleway-Thin'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptsg8zYS_SKggPNwE44TYFq.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwOIpWqZPAA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



* {
  margin: 0;
  padding: 0;
  color: white;
}

.App {
  background-color: rgb(30, 30, 30);
}

/* Mobile Styling */

.nav {
  position: fixed;
  padding: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  background-color: rgb(40, 40, 40);
  z-index: 69;
  width: 100%;
  height: 10%;
}
.nav-img {
  max-height: 100%;
  max-width: 100%;
  z-index: 420;
}

.center {
  position: absolute;
  top: 58%;
  left: 50%;
  width: 150%;
  margin-top: -100%;
  margin-left: -75%;
}

.selected {
  background-color: rgb(48, 48, 255);
}

footer {
  position: fixed;
  background-color: rgb(40, 40, 40);
  /* border: 2px solid white; */
  border-radius: 30px;
  height: 12%;
  width: 97%;
  bottom: -6%;
  display: inline-block;
  margin: 0 1%;
}

.bar {
  position: absolute;
  background-color: white;
  width: 30%;
  height: 5%;
  right: 35%;
  border-radius: 20%;
  top: 13%;
  z-index: 50;
}

/* Desktop Stying */

/* .deskApp {
  margin: 20px;
} */

h1 {
  font-size: 300%;
  align-self: center; 
}

.deskHead {
  box-sizing: border-box;
  position: fixed;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  width: 100%;
  height: 100px;
  background-color: rgb(50, 50, 50);
  text-align: center;
  color: white;
  top: -1%;
  z-index: 69;
  padding: 25px;
}

.body {
  position: relative;
  top: 100px;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  background-color: rgb(25, 25, 25);
  padding: 2%;
}

.logos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "firefox chrome safari";
  justify-items: center;
  align-items: center;
  height: 70px;
}

h3 {
  margin: 5px;
}

.img {
  max-width: 100%;
  height: 50px;
  margin: auto;
}

.firefox {
  grid-area: firefox;
  object-fit: contain;
  max-height: 50px;
}

.chrome {
  grid-area: chrome;
  object-fit: contain;
  max-width: 100%;
  height: 100%;
}

.safari {
  grid-area: safari;
  object-fit: contain;
  max-width: 100%;
  height: 100%;
}

.tut {
	display: grid;
	grid-template-areas: "img1 text1" "img2 text2" "img3 text3";
  grid-template-columns: 1fr 1fr;
  margin: 30px;
  padding: 1%;
  row-gap: 5%;
  animation: fadein 1s;
}

.tutFirefox {
  grid-template-rows: repeat(3, 45%);
}

.tutOthers {
  grid-template-rows: repeat(3, 30%);
}

.img1 {
  grid-area: img1;
  display: block;
}

.img2 {
  grid-area: img2;
  justify-self: center;
}

.img3 {
  grid-area: img3;
  justify-self: center;
}

.p1 {
  grid-area: text1;
  font-size: 300%;
  text-align: center;
  align-self: center;
}

.p2 {
  grid-area: text2;
  font-size: 300%;
  text-align: center;
  align-self: center;
}

.p3 {
  grid-area: text3;
  font-size: 300%;
  text-align: center;
  align-self: center;
}

.tutImg {
  object-fit: cover;
  height: 100%;
  max-width: 100%;
  margin-left: 20%;
  margin-right: auto;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@keyframes fadein {
  from { opacity: 0;}
  to { opacity: 1; }
}